/* место для вашего кода */
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  background-color: white;
  height: 293px;
  padding: 0px 50px 0px;
}

.header__menu-list {
  display: flex;
  flex-direction: row;
  list-style: circle;
  gap: 34px;
}

.header__menu-item {
  font-size: 18px;
  text-underline-offset: 4px;
}

.header__menu-item_no-style {
  list-style-type: none;
}

.header__menu-link_no-underline {
  text-decoration: none;
}

.header__logo {
  width: 136px;
  height: 109px;
}

.address {
  text-underline-offset: 4px;
  line-height: 24.3px;
  font-size: 18px;
  max-width: 240px;
  justify-self: end;
  font-style: normal;
}

.cover {
  display: grid;
  grid-template-rows: 1fr 51px 50px;
  height: 757px;
  background-image: url(/ono-tebe-nado-fd/images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.overlay {
  position: absolute;
  background-color: rgb(0 0 0/ 0.6);
  width: 100%;
  height: 100%;
}

.cover__title {
  padding: 186px 50px 127px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 73px;
  letter-spacing: 30px;
  font-size: 100px;
  color: white;
  text-transform: uppercase;
  z-index: 2;
}

.accent-span {
  display: block;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.accent-span_no-letter-spacing {
  letter-spacing: 0;
  display: inline-block;
}

.description {
  height: 51px;
  padding: 0px 50px;
  display: flex;
  justify-content: space-between;
}

.description__title {
  align-self: center;
  position: relative;
  text-transform: uppercase;
  color: white;
  word-spacing: 18.6px;
  z-index: 2;
  font-size: 22px;
}

.description__button {
  width: 256px;
  color: white;
  font-size: 22px;
  text-transform: uppercase;
  background: transparent;
  border: 1px solid;
  z-index: 2;
}

.lots {
  margin: 180px auto 0px;
  height: 723px;
}

.lots__title {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0 0 27px 64px;
}

.lots__card-list {
  display: flex;
  justify-content: center;
  gap: 25px;
  list-style: none;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
}

.lots__card-link {
  height: 100%;
  display: flex;
  text-decoration: none;
}

.card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 40px;
  z-index: 2;
}

.card_type_film {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(/ono-tebe-nado-fd/images/card-lot-01.jpg);
}

.card_type_book {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(/ono-tebe-nado-fd/images/card-lot-02.jpg);
}

.card_type_picture {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(/ono-tebe-nado-fd/images/card-lot-03.jpg);
}

.card_header {
  font-size: 22px;
  text-transform: uppercase;
  color: white;
  text-decoration: underline;
  text-decoration-color: white;
}

.card_text {
  font-size: 20px;
  color: white;
}

.lots__look-more-link {
  display: block;
  margin: 30px 0 0 64px;
  font-size: 20px;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 5px;
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  grid-template-rows: 1fr;
  gap: 25px;
  margin: 120px 26.1px 0px 24px;
}

.about__logo {
  margin-top: 35px;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  background-color: #000;
  border-radius: 50%;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__description-title {
  font-size: 40px;
  text-transform: uppercase;
  margin-top: 136px;
  margin-bottom: 100px;
}

.about__description-text {
  font-size: 20px;
  line-height: 24px;
}

.about__description-text_first-paragraph {
  margin-bottom: 24px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 180px;
  margin-top: 180px;
  padding: 0 50px 0;
}

.footer__address-width {
  max-width: 242px;
}

.footer__menu-list {
  font-size: 18px;
  text-underline-offset: 4px;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  align-items: center;
}

.social-links {
  display: flex;
  flex-direction: row;
  gap: 48px;
}

.social-links-item {
  display: inline-block;
  width: 48px;
  height: 48px;
}
